<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>IoT - Capstone</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="{{url_for('home')}}" class="navbar-brand p-0">
                    <h1 class="m-0">IoT</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="{{url_for('home')}}" class="nav-item nav-link">서울시 흡연구역 지도</a>
                        <a href="{{url_for('data')}}" class="nav-item nav-link active">시설 수요 분석</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">문의 게시판</a>
                            <div class="dropdown-menu m-0">
                                <a href="{{url_for('contactweb')}}" class="dropdown-item">웹사이트 불편사항</a>
                                <a href="{{url_for('contactarea')}}" class="dropdown-item">흡연시설 불편사항</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">
                        <div class="col-12 text-center">
                            <h1 class="text-white animated slideInDown">시설 수요 분석</h1>
                            <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a class="text-white" href="#section1">1. 분석 목표</a></li>
                                    <li class="breadcrumb-item"><a class="text-white" href="#section2">2. 독립변수 선정</a></li>
                                    <li class="breadcrumb-item"><a class="text-white" href="#section3">3. 독립변수 시각화</a></li>
                                    <li class="breadcrumb-item"><a class="text-white" href="#section4">4. Permutation Importance</a></li>
                                    <li class="breadcrumb-item"><a class="text-white" href="#section5">5. 흡연구역 수요 파악</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- #1 분석목표 Start -->
        <div id="section1" class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary">Our Goal<span></span></p>
                        <h1 class="mb-5">#1. 분석 목표</h1>
                        <h5 class="mb-4"><strong style="font-size: 22px;">서울 금연∙흡연구역 현황</strong></h5>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2" style="color: #ff0000; font-size: 18px;"><strong>금연구역</strong>(28만 2641개소)</p>
                                <p class="mb-2" style="color: #ff0000;">97.6%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" style="background-color: #ff0000;" role="progressbar" aria-valuenow="97.6" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2" style="color: #0E38B1; font-size: 18px;"><strong>흡연구역</strong>(6200개소)</p>
                                <p class="mb-2" style="color: #0E38B1;">2.4%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" style="background-color: #0E38B1;" role="progressbar" aria-valuenow="2.4" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <p class="mb-4" style="color: #2c2b2b;">현재 서울시는 금연구역으로 지정된 장소에 비해 <strong style="color: #2c2b2b;">흡연구역은 턱 없이 부족한 상황</strong>이다. 
                            대부분의 사람들은 흡연구역의 위치를 정확히 알지 못해 골목길과 같은 곳으로 몰리게 되어 많은 시민들이 불편을 겪게 되고, 
                            특히 자주 방문하지 않는 지역이나 사람들의 통행이 잦은 곳에서 흡연구역을 찾기란 쉬운 일이 아니다.</p>
                        <p class="mb-4" style="color: #2c2b2b;"> 본 과제는 흡연자와 비흡연자를 모두 배려하고자 선정하였다. 
                            흡연자의 흡연권은 비흡연자의 혐연권보다 우선 시 될 수 없다. 
                            혐연권이 보장된 채로, 혐연권을 침해하지 않는 선에서의 흡연권을 보장받기 위해서는 금연구역이 아닌 곳에서 흡연해야 한다. </p>
                        <p class="mb-4" style="color: #2c2b2b;"> 이에 따라 본 서비스는 흡연자들의 올바른 흡연생활을 유도하기 위해 
                            <strong style="color: #2c2b2b;">흡연구역 위치를 지도를 통해 시각화</strong>하며, 선형회귀분석을 통해 예측치와 현재 실정과의 차이를 파악하여 
                            <strong style="color: #2c2b2b;">흡연구역의 수가 부족한 지역은 서울시에 추가 설치를 제안</strong>하고자 한다. </p>                            
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="img/seoul.png">
                    </div>
                </div>
            </div>
        </div>
        <!-- #1 분석목표 End -->

        <!-- #2 독립변수 선정 이유 Start -->
        <div id="section2" class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Reason for Selection<span></span></p>
                    <h1 class="text-center mb-5">#2. 독립변수 선정</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-hospital text-primary mb-4"></i>
                            <h5 class="mb-3"><strong>의료기관 & 도서관</strong></h5>
                            <p class="m-0" style="color: #2c2b2b;">생활법령정보에 따르면 국민건강증진법 제9조 4항에 따라 시설의 전체를 금연구역으로 지정한 경우 
                                금연구역을 알리는 표지를 설치해야 하며, 이 경우 흡연자를 위한 흡연실을 설치할 수 있다. 
                                따라서 시설 전체가 금연구역인 의료기관과 지역 도서관에 흡연실을 설치할 수 있으므로 해당 데이터를 독립변수로 선정하였다.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-subway text-primary mb-4"></i>
                            <h5 class="mb-3"><strong>지하철역 & 유흥업소</strong></h5>
                            <p class="m-0" style="color: #2c2b2b;">지하철역은 주로 인구 밀집 지역에 위치하며, 
                                유흥업소 또한 인구 밀집 지역에서 많이 찾아볼 수 있다. 또한, 사람들의 출퇴근과 이동에 사용하는 주요 교통수단은 지하철이다. 
                                <strong>인구가 많이 분포한 지역은 흡연시설의 수요도 높을 것이라 판단</strong>하여 해당 데이터를 독립변수로 선정하였다.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-users text-primary mb-4"></i>
                            <h5 class="mb-3"><strong>생활인구 수 & 면적 & 흡연율</strong></h5>
                            <p class="m-0" style="color: #2c2b2b;">‘생활인구’는 해당 지역에서 거주하는 ‘정주인구’와 달리, 지역에서 생활하는 인구를 뜻한다. 
                                지역에 거주하지 않더라도 정기적으로 해당 지역을 방문하거나 일정 기간 생활을 반복하는 인구도 해당 지역의 인구로 보는 개념이다. 
                                이러한 지역마다의 생활인구 수와 이 중 흡연자의 비율이 흡연시설의 수와 상관관계가 있다고 판단하여 해당 데이터를 독립변수로 선정하였다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #2 독립변수 선정 이유 End -->   

        <!-- #3 독립변수 시각화 Start -->
        <div id="section3" class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>visualization<span></span></p>
                    <h1 class="text-center mb-5">#3. 독립변수 시각화</h1>
                </div>
                <div class="row g-4">
                    <iframe width="1000" height="700"
                    src="templates/full map.html">
                </iframe>
                </div>
            </div>
        </div>
        <!-- #3 독립변수 시각화 End --> 
        
        <!-- #4 Permutation Importance Start -->
        <div id="section4" class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary">Permutation Importance<span></span></p>
                        <h1 class="mb-5">#4. Permutation Importance</h1>
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="img/permutation.png">
                    </div>
                    <div class="col-lg-6 wow fadeInUp">
                        <p class="mb-4" style="color: #2c2b2b;">Random Forest 모델에서 
                            Permutation Importance를 사용하여 ‘흡연부스 수’ 종속변수 칼럼에 대한 각 독립변수의 중요도를 판단하였다.</p>
                        <p class="mb-4" style="color: #2c2b2b;"> Random Forest Regressor은 변수의 중요도를 내부적으로 
                            트리의 분기마다 고려하므로, 모델이 학습된 후에 변수의 중요도를 평가하는 Permutation Importance의 경우 분기마다 
                            계산할 수 있는 Random Forest 모델을 통해 계산하는 것이 적합하다고 판단하였다. </p>
                        <p class="mb-4" style="color: #2c2b2b;"> 각 칼럼들의 변수 값을 임의로 섞는 과정을 500번 반복하게 설정한 후, 
                            섞인 변수를 사용하여 성능 변화를 측정하여 변화 값의 크기에 따라 변수 중요도를 계산하였다. </p>
                        <p class="mb-4" style="color: #2c2b2b;"> 계산 결과, <strong style="font-size: 17px; color: #6222CC;">흡연율</strong>과 
                            <strong style="font-size: 17px; color: #6222CC;">유흥업소 수</strong>가 흡연부스 수 변화에 가장 중요한 변수임을 확인할 수 있었다. </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #4 Permutation Importance End -->

        <!-- #5 흡연구역 수요 파악 Start -->
        <div id="section5" class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Linear Regression을 이용한<span></span></p>
                    <h1 class="text-center mb-5">#5. 흡연구역 수요 파악</h1>
                    <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" style="padding-right: 300px; padding-left: 300px; padding-bottom: 50px;" src="img/actual_predicted.png">
                </div>
                <div class="wow fadeInUp">
                    <p class="mb-4" style="color: #2c2b2b; padding-right: 200px; padding-left: 200px;">새로운 데이터에 대한 예측을 하는 상황이 아닌, 서울시 내에 있는 자치구에 대해서만 
                    예측하면 되기 때문에 train과 test를 나누지 않고 진행하였다. 선정한 독립변수에 따라 흡연부스 수를 예측하는 선형회귀 모델을 
                    생성하였다. 모델을 학습시킨 후, 선형회귀 모델을 통해 예측한 흡연부스의 수와 
                    실제 흡연부스의 수의 잔차를 통해 흡연부스가 더 필요한 자치구와 이미 충분한 자치구를 파악할 수 있었다.</p>
                </div>
            </div>
        </div>
        <!-- #5 흡연구역 수요 파악 End --> 

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>